In [5]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [10]:
yf.download(tickers = "SPY",  # list of tickers
            period = "1y",         # time period
            interval = "1d",       # trading interval
            ignore_tz = True,      # ignore timezone when aligning data from different exchanges?
            prepost = False)       # download pre/post market hours data?

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-07,431.549988,432.299988,419.359985,419.429993,412.734039,137896600
2022-03-08,419.619995,427.209991,415.119995,416.250000,409.604858,164772700
2022-03-09,425.140015,429.510010,422.820007,427.410004,420.586700,116990800
2022-03-10,422.519989,426.429993,420.440002,425.480011,418.687500,93972700
2022-03-11,428.119995,428.769989,419.529999,420.070007,413.363892,95636300
...,...,...,...,...,...,...
2023-03-01,395.410004,396.690002,393.380005,394.739990,394.739990,99706800
2023-03-02,392.679993,398.690002,392.329987,397.809998,397.809998,85127800
2023-03-03,399.709991,404.450012,399.029999,404.190002,404.190002,90038300
2023-03-06,405.049988,407.450012,404.010010,404.470001,404.470001,72689600
2023-03-07,404.420013,404.670013,398.160004,398.734985,398.734985,67346161

In [8]:
df.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-03-01  90.160004  91.199997  89.849998  90.510002  90.510002  26323900
2023-03-02  89.860001  92.480003  89.769997  92.309998  92.309998  23328600
2023-03-03  92.739998  94.110001  92.660004  94.019997  94.019997  30220900
2023-03-06  94.360001  96.300003  94.300003  95.580002  95.580002  28272600
2023-03-07  94.360001  96.080002  94.000000  94.135002  94.135002  14800347